
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Üye Ol","Register","Acount") <br />
@Html.ActionLink("Giriş", "Login", "Acount")<br />
                                            <br />
@Html.ActionLink("Çıkış", "LogOut", "Acount")